.circle-grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    /* gap: 1px;  */
    width: 100%;
    margin-top: 50px;
    /* padding: 0 10px;  */
  }
  
  .circle-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .title {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 1200px) {
    .circle-grid-container {
      grid-template-columns: repeat(6, 1fr); 
    }
  }
  
  @media (max-width: 992px) {
    .circle-grid-container {
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  @media (max-width: 768px) {
    .circle-grid-container {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .circle-grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  